# MongoDB Configuration
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=cluster-name
DATABASE_NAME=guppy_funds
AMEX_COLLECTION=amex_raw
WELLS_COLLECTION=wells_raw

# Application Configuration
ENVIRONMENT=development
LOG_LEVEL=INFO